.footer__text {
  color: #545454;
  max-width: 318px;
  min-height: 18px;
  margin-top: 67px;
  margin-bottom: 60px;
  font-size: 18px;
}

@media screen and (max-width: 320px) {
  .footer {
    display: flex;
    justify-content: center;
  }
  .footer__text {
    margin-bottom: 36px;
    margin-top: 48px;
    max-width: 282px;
    width: 100%;
    font-size: 14px;
  }
}
