.page {
  font-family: InterDisplay, Arial, Helvetica, sans-serif;
  background: black;
  color: white;
}
.page__section {
  width: 100%;
  max-width: 880px;
  position: relative;
  margin: 0 auto;
}
.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header {
  margin-top: 45px;
  height: 74px;
  border-bottom: 1px solid #545454;
}
.header__title:hover {
  background: url("../images/AroundUS_Hover.svg");
}
