.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}
.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 391px) auto;
}

/* cree un contenedor y lo pongo en posicion relativa para que el z-index funcione */

.profile__image__container {
  position: relative;
}

.profile__image {
  width: 120px;
  min-height: 120px;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
  z-index: 0;
}
/* el boton de la imagen va en posicion absoluta con respecto al contenedor */
.profile__image-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer; /* recordar cursor:pointer siempre que sea un boton o algun elemento de interaccion*/
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}
.profile__image__container:hover .profile__image-button {
  /* combino las clases asi le paso la imagen al boton cuando hago hover*/
  opacity: 1;
  background-image: url("/src/images/Vector.svg");
  width: 24px;
  height: 24px;
  position: absolute;
  top: 35%;
  left: 35%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.profile__title {
  /*i cant get my title to sit right on the grid-row number 3, any suggestions?*/
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  grid-area: title;
  grid-row-start: 1;
  grid-row-end: 3;

  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
}
.profile__description {
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 415px;
}

.profile__edit-button {
  background: transparent url("../images/Edit_Button.svg") center no-repeat;
  background-size: 24px 24px;
  border: 1px solid #ffffff;
  height: 24px;
  width: 24px;
  grid-area: button;
  padding: 0px;
  grid-row-start: -2;
  grid-row-end: -3;
  cursor: pointer;
  margin-bottom: 9px;
}
.profile__add-button {
  background: transparent url("../images/add_button_+.svg") center no-repeat;
  width: 150px;
  min-height: 50px;
  margin-left: auto;
  padding: 0px;
  border: 2px solid #fff;
  cursor: pointer;
}
.profile__add-button:hover {
  opacity: 0.6;
}

.profile__edit-button:hover {
  opacity: 0.6;
}
@media screen and (max-width: 906px) {
  .profile {
    display: flex;
    flex-wrap: wrap;
  }
  .profile__add-button {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 600px) {
  .profile {
    flex-direction: column;

    padding-top: 0px;
    margin-top: 42px;
    max-width: 282px;
    min-height: 286px;
  }
  .profile__info {
    width: 100%;
    justify-content: center;
    display: grid;
    grid-template-columns: minmax(auto, 196px) auto;
    gap: 14px 10px;
  }
  .profile__title {
    font-size: 22px;
    line-height: 26.63px;
    margin-top: 30px;
  }
  .profile__description {
    max-width: 282px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 16.94px;
    margin-bottom: 36px;
  }
  .profile__add-button {
    margin: 0px;
    width: 100%;
  }
  .profile__edit-button {
    width: 18px;
    height: 18px;

    margin-bottom: 6px;
  }
  .profile__image {
    margin-right: 0px;
  }
}
