.page {
  font-family: InterDisplay, Arial, Helvetica, sans-serif;
  background: black;
  color: white;
}
.page__section {
  width: 100%;
  max-width: 880px;
  position: relative;
  margin: 0 auto;
}
.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  margin-top: 45px;
  height: 74px;
  border-bottom: 1px solid #545454;
}

.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}
.profile__image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}
.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
}
.profile__description {
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
}
.profile__edit-button {
  background: transparent url("../images/EditButton.png") center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  padding: 0px;
}
.profile__add-button {
  background: transparent url("../images/Add_Button.svg") center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  padding: 0px;
}
.cards {
  margin-top: 30px;
}

.card__list {
  list-style-type: none;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0px;
}
.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
}
.card__image {
  max-width: 282px;
  height: 282px;
}
.card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  color: black;
  padding: 25px 20px 25px 20px;
}
.card__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  margin: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card__like-button {
  background-image: url("../images/like__button.svg");
  padding: 0px;
  width: 21px;
  height: 18px;
  border: none;
}
.footer__image {
  width: 318px;
  height: 18px;
  margin-top: 67px;
  margin-bottom: 60px;
}
@media screen and (max-width: 320px) {
  .profile {
    flex-direction: column;
    padding-top: 0px;
    margin-top: 42px;
    max-width: 282px;
    height: 286px;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  .profile__title {
    font-size: 22px;
    font-weight: 500;
    line-height: 26.63px;
    margin-top: 30px;
  }
  .profile__description {
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    margin-bottom: 36px;
  }
  .profile__add-button {
    margin: 0px;
    width: 100%;
  }
  .profile__edit-button {
    width: 18px;
    height: 18px;
    align-self: center;
  }
  .header {
    margin-bottom: 0;
    margin-top: 28px;

    max-width: 100%;
    height: 56px;
  }

  .header__title {
    width: 126px;
    height: 24px;
    margin-left: 27px;
  }
  .profile__image {
    margin-right: 0px;
  }
}

.header__title:hover {
  background: url("../images/AroundUS_Hover.svg");
}

.profile__add-button:hover {
  background: url("../images/Add_Button_hover.svg");
}

.profile__edit-button:hover {
  background: url("../images/Edit_Button_Hover.svg");
}
.card__like-button:hover {
  background: url("../images/Heart_Hover.svg");
}
